<p id="notice"><%= notice %></p>
<div class="pull-right">
<%= link_to 'Back', classrooms_path %>
</div>
<p>
  <strong>Title:</strong>
  <%= @classroom.title %>
</p>



<p>
  <strong>Description:</strong>
  <%= @classroom.description %>
</p>

<br>

<iframe src="<%= @classroom.lesson_file %>"width="1000" height="700"></iframe>
<br>
<% if user_signed_in? %>
<td><%= link_to 'Edit', edit_classroom_path(@classroom) %></td>
<td><%= link_to 'Delete', @classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
