<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @classroom.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @classroom.subject %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @classroom.grade %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classroom.description %>
</p>

<br>

<%= link_to 'Back', classrooms_path %>

<iframe src="<%= @classroom.lesson_file %>"width="980" height="658"></iframe>
<br>
<% if user_signed_in? %>
<td><%= link_to 'Edit', edit_classroom_path(@classroom) %></td>
<td><%= link_to 'Delete', @classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
