<p id="notice"><%= notice %></p>
<div class="pull-right">
<%= link_to 'Back', lessons_path %>
</div>
<h2>
  <%= @lesson.title %>
  <br>
  <h4><%= render partial: 'votes/voter', locals: { lesson: @lesson } %></h4>
</h2>

<div class="col-md-4">
   <h3>
     <%= pluralize(@lesson.points, 'point') %>
     <div>
       <small>
         <%= pluralize(@lesson.up_votes, 'up vote') %>,
         <%= pluralize(@lesson.down_votes, 'down vote') %>
       </small>
     </div>
   </h3>
 </div>


<p>
  <strong>Subject:</strong>
  <%= @lesson.subject %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @lesson.grade %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<br>



<iframe src="<%= @lesson.lesson_file %>"width="1000" height="700"></iframe>
<br>
 <% if current_user && current_user.admin? %>
<td><%= link_to 'Edit', edit_lesson_path(@lesson) %></td>
<td><%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
