<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lesson.subject %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @lesson.grade %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<br>

<%= link_to 'Back', lessons_path %>

<iframe src="<%= @lesson.lesson_file %>"width="980" height="658"></iframe>
<br>
<td><%= link_to 'Edit', edit_lesson_path(@lesson) %></td>
<td><%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
